<li id="{{identifier}}" style="border-radius:5px; border: 1px solid #C8C8C8; margin:5px; padding:5px; overflow:hidden">
    <div class="row-fluid">
        <div class="span1" style="text-align:center; background-color:whitesmoke; margin-right:0; ">
            <i style="margin:auto; margin-top:7px;" class="icon-map-marker"></i>
        </div>

        <div class="span10" style="">
            <div><a style="" href="#trigger-modal-view" data-surveyid="" data-triggerid="{{this.identifier}}" data-mode="update" data-toggle="modal" class="open-trigger-modal">{{this.placename}}</a></div>
        </div>

        <div class="span1">
            <a style="float:right" class="removeTrigger" data-trigger="{{this.identifier}}"  href="#"><i class="icon-remove"></i></a>
        </div>
    </div>
</li>